body {
    font-family: 'Open-Sans' , sans-serif;
    background-color: #f9fafc;
    margin: 15px;
}

ul {
    list-style: none;
    padding-left: 0;
}

.nav1 {
    color: #000;
    text-decoration: none;
}

.nav2 {
    color: #69696a;
    text-decoration: none;
}

button {
   border: #000;
   border-radius: 15px;
   background-color: #000;
   color: #FFF;
   padding: 10px; 
   text-align: center;
   text-decoration: none;
   display: block;
   margin: 0 auto;
   width: 100%; 
}

p { 
    font-size: 30px;
}

blockquote {
    color: #69696a;
    padding: 0px 0px 0px 15px;
    margin-left: 0;
    border-left: solid #69696a;
}

@media screen and (min-width: 768px) {
    body {
        font-family: 'Open-Sans' , sans-serif;
        background-color: #f9fafc;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        text-decoration: none;  
    }

    #nav1 {
        color: #000;
        justify-self: flex-start;
        margin-right: auto;
    }

    .nav2 {
        color: #69696a;
    }

    blockquote {
        width: 50%;
        position: absolute;
    }

    #large { 
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background-color: rgb(247, 136, 167, 0.6);
    position: relative;
    left: 850px;
    }

    #medium { 
        border-radius: 50%;
        width: 200px;
        height: 200px;
        background-color: rgb(247, 193, 162, 0.7);
        position: relative;
        left: 1000px;
        bottom: 125px;
    }

    #small { 
        border-radius: 500%;
        width: 150px;
        height: 150px;
        background-color: rgb(207, 130, 213, 0.6);
        position: relative;
        left: 1080px;
        bottom: 400px;
    }
    
    button {
        border: #000;
        border-radius: 15px;
        background-color: #000;
        color: #FFF; 
        text-align: center;
        text-decoration: none;
        width: auto; 
     }



     #scroll {
         position: absolute;
         top: 900px;
         left: 550px;
     }

}